@charset "UTF-8";

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  padding: 100px 0;
}
.section-title {
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  background: #050507;
  color: #fff;
  text-align: center;
  position: relative;
}
/*-------------------------------------------
header
-------------------------------------------*/
header {
  position: fixed;
  z-index: 800;
  overflow: hidden;
  width: 100vw;
}

.drawer ul{
  height: 80px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.drawer ul li{
  padding: 5px;
  margin-left: 20px;
}
.drawer ul li:last-child{
  background-color: #050507;
}
.drawer ul li a{
  color: #050507;
}
.drawer ul li:last-child a{
  color: #fff;
}
@media screen and (max-width: 480px){
/* ハンバーガー */
.hamburger {
	width: 42px;
	height: 42px;
  z-index: 800;
  position: fixed;
  right: 10px;
  top: 10px;
}
.hamburger span {
	display: block;
	width: 24px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	transition: all .4s ease;
	left: 9px;
}
.hamburger span:first-child { top: 28%; }
.hamburger span:nth-child(2) { top: 50%; }
.hamburger span:last-child { top: 72%; }

.hamburger.close span { 
  width: 36px;
  background-color: #050507;}
.hamburger.close span:first-child { top: 50%; left: 3px; transform: rotate(40deg);}
.hamburger.close span:nth-child(2) { left: 3px; transform: rotate(40deg); opacity: 0;}
.hamburger.close span:last-child { top: 50%; left: 3px; transform: rotate(-40deg); }

/* ドロワーナビ */
.drawer {
	background-color: rgba(255, 255, 255, 0.6);
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 98px 0 30px;
	overflow: auto;
	transition: all .4s ease;
	z-index: 100;
}
.drawer.show { top: 0; }
.drawer ul{
  height: auto;
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.05) ;
  flex-flow: column;
}
.drawer ul.main_nav li { margin-top: 30px; }


}
/*-------------------------------------------
Mainvisual
-------------------------------------------*/

.mov_area {
	position: relative;
/*
  position: fixed;
  left: 0;
  top: 0;
*/
}


.mov_area video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.mov_area h1.logo{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  color: black;
  text-shadow: #fff 1px 0 20px;
  font-weight: 700;
  font-size: 60px;
}



/*-------------------------------------------
Information
-------------------------------------------*/
/* #information {
  margin-bottom: 140px;
} */
#information .info-date-en {
  display: block;
  font-size: 1.5rem;
}
#information .info-time-en {
  display: block;
  font-size: 1.125rem;
}
#information .info-place {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
}
#information .info-date-ja {
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  #information .info-time-en {
    font-size: 16px;
  }
  #information .info-time-en {
    font-size: 16px;
  }
  #information .info-place {
    font-size: 20px;
  }
  #information .info-place {
    font-size: 16px;
  }
  .site-title {
    font-size: 32px;
  }
  .section-title{
    font-size: 26px;
  }
}
/*-------------------------------------------
Gallery
-------------------------------------------*/
#gallery {
  padding-top: 140px;
}
#gallery .list li {
  margin-bottom: 60px;
}
#gallery .list li img {
  width: 48%;
}

@media screen and (max-width: 480px) {
  #gallery .list li img {
  width: 75%;
  }
}

#gallery .list li:nth-child(odd) {
  text-align: left;
}
#gallery .list li:nth-child(even) {
  text-align: right;
}

@media screen and (max-width: 480px) {
  #gallery {
  padding-top: 100px;
  }
}
/*-------------------------------------------
Access
-------------------------------------------*/
#access {
  padding-top: 200px;
  position: relative;
  z-index: 20;
}
#access .place {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#access .address {
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  #access {
    padding-top: 100px;
  }
  #access .address {
    margin: auto 20px auto 20px;
  }
}
#access .contact {
  margin-bottom: 30px;
}
#access .btn {
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  padding: 15px 82px;
  transition: 0.3s;
}
#access .btn:hover {
  background-color: #050507;
}
#access .gmap iframe {
  margin: 0 auto;
  width: 600px;
  height: 450px;
}
@media screen and (max-width: 480px) {
  #access .gmap iframe {
  margin: 0 auto;
  width: 300px;
  height: 225px;
  }
}


/*-------------------------------------------
Contact
-------------------------------------------*/
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-top: 160px;
  padding-bottom: 150px;
  
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
.Form-Item {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {

}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}


/*-------------------------------------------
Footer
-------------------------------------------*/


footer .copy {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #545454;
  color: white;
}

















